.input-con {
}

.input-text {
  border: none;
  outline: none;
  width: 200px;
  height: 30px;
  padding: 2px 4px;
  letter-spacing: 0.05rem;
  background-color: #eceff1;
  border-bottom: 2px solid gray;
  color: gray;
}

::placeholder {
  letter-spacing: 2%;
}
